footer {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  .made_by {
    .daruma_link {
      text-decoration: underline;
      color: var(--danger-color);
    }
  }
}
