/*@import "../spacing/root.css";*/

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .main-scroll {
    flex: 1;
    overflow-y: auto;
  }

  .index-container {
    display: flex;
    justify-content: space-around;
    padding-top: var(--first-level-spacing);

    ul {
      list-style: none;
      padding-left: 1rem;
      li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-width: 4rem;
        border-bottom: 1px solid var(--light-color);
      }
    }

    .title {
      color: var(--secondary-color);
    }
  }
}
