<h1>New book</h1>

<%= form_with model: @book do |form| %>
  <div>
    <%= form.text_field :name, required: true, placeholder: "Name", autofocus: true %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<%= link_to "Cancel", books_path %>
