:root {
  /*button*/
  --border-radius-button: var(--border-radius);
}

.button {
  background-color: var(--light-color);
  display: inline-block;
  border: 1px solid;
  border-color: var(--button-primary-color);
  border-radius: var(--border-radius-button);
  padding: 0.5rem 1rem;
  font-weight: 600;
  &:hover {
    transform: translate(2px, 2px);
  }
  &:active {
    transform: translate(-2px, -2px);
  }
  &.primary {
    background-color: var(--button-primary-color);
    border-color: var(--button-primary-border-color);
  }
  &.secondary {
    background-color: var(--button-secondary-color);
    border-color: var(--button-secondary-border-color);
  }
  &.success {
    background-color: var(--button-success-color);
    border-color: var(--button-success-border-color);
  }
  &.warning {
    background-color: var(--button-warning-color);
    border-color: var(--button-warning-border-color);
  }
  &.danger {
    background-color: var(--button-danger-color);
    border-color: var(--button-danger-border-color);
  }
  &.xs {
    font-size: 0.4rem;
    padding: 0.1rem 0.4rem;
  }
  &.sm {
    font-size: 0.8rem;
    padding: 0.2rem 0.7rem;
  }
  &.lg {
    font-size: 1.2rem;
    padding: 0.6rem 1.6rem;
  }
}

.document-list-card {
  width: calc(100vw / 3 - 2rem);
  padding: var(--second-level-spacing);
  border-radius: var(--border-radius);
  border: 1px solid var(--primary-color);
  box-shadow: 1rem 1rem var(--soft-primary-color);
}

.pages-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;

  .page-number {
    width: calc(100% / 3);
    font-style: italic;
    color: var(--soft-dark-grey);
  }

  .page-body {
    width: calc(100% / 3);
    height: 75vh;
    overflow-y: scroll;
    margin: var(--second-level-spacing) auto;
    padding: var(--first-level-spacing);
    border: 1px solid var(--primary-color);
    box-shadow: 1rem 1rem var(--soft-primary-color);
  }
}
