/* removing all default spacing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*setting default font size to use rem*/
html {
  body {
    position: relative;
    font-size: 16px;

    color: var(--primary-color);

    a {
      color: var(--primary-color);
      text-decoration: none;
      &:visited {
        color: var(--primary-color);
      }
    }

    .flash {
      position: fixed;
      top: 0.5rem;
      right: 2rem;
      min-width: 12rem;
      padding: 0.2rem 0.4rem;
      min-height: 1rem;
      border: 1px solid var(--primary-color);
      background-color: var(--light-color);

      &.notice {
        border-color: var(--success-color);
        background-color: var(--soft-success-color);
      }

      &.alert {
        border-color: var(--danger-color);
        background-color: var(--soft-danger-color);
      }
    }
  }
}
