<div class="left-side">
  <div>Page [<%= bookmark %>]</div>
</div>

<div class="center-side">
  <p><%= current_page.body %></p>
</div>

<div class="right-side">
  <p><%= current_page.body %></p>
</div>
